scipy==1.10.1
numpy==1.24.3
rouge_score==0.1.2
fire==0.5.0
transformers==4.29.2
torch==2.0.1
sentencepiece==0.1.99
tokenizers==0.12.1
wandb==0.15.3
peft==0.3.0
bitsandbytes==0.39.0
einops==0.6.1
accelerate==0.19.0
optimum==1.8.6
sentence_transformers==2.2.2
deepspeed==0.9.3
grpcio==1.54.2